.mainContainer{
    background: url('../../../public/assets/bg.jpeg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    .detailsContainer{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
    }
}