.quoteContainer{
    max-width: 100vw;
    min-height: calc(100vh - 92px);
    display: flex;
    justify-content: center;
    align-items: center;

    .quote{
        color: wheat;
        font-size: 64px;
        width: 70%;
        gap: 0.5rem;
        font-weight: 600;
        text-align: center;
    }   
}

@media screen and (max-width: 780px) {
    .quoteContainer{
            .quote{
                font-size: 40px;
            }
    }
}