.mainContainer{
    width: 100vw;
    height: calc(100vh - (2rem + 60px));

    .detailsContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .quote{
            color: wheat;
            font-size: 64px;
            width: 70%;
            gap: 0.5rem;
            font-weight: 600;
            text-align: center;
        }
    }
}