.title {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.subTitle {
    font-size: 40px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}


.skillsContainer {
    padding: 1rem;
    background-color: rgba(#eeb4aa, 0.8);
    width: 90%;
    display: flex;
    flex-direction: column;
    color: white;

    .skillList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .skill {
            width: 150px;
            height: 150px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            // color: white;
            .icon {
                font-size: 80px;
                // color: white;
            }

            .skillTitle {
                font-size: 20px;

            }
        }

        .skill:hover {
            color: black;
            transition: 0.8s;
        }
    }
}

@media screen and (max-width: 930px) {
    .skillsContainer{
        .skillList{
            .skill{
                width: 100px !important;
                height: 100px !important;
        
                .icon{
                    font-size: 60px !important;
                }
            }
        }
    }
}
